<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415975807381-7l77da12d0inbve3k33pdofojno4e6si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415975807381-7l77da12d0inbve3k33pdofojno4e6si</string>
	<key>API_KEY</key>
	<string>AIzaSyDaJNeFqlqQ7FuvZEJ28GzqV-qjoRBAwM0</string>
	<key>GCM_SENDER_ID</key>
	<string>415975807381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>weareeven-c755d</string>
	<key>STORAGE_BUCKET</key>
	<string>weareeven-c755d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415975807381:ios:d022c854a99fe89e4f3e9c</string>
</dict>
</plist>